

<%- include('../compartido/estilos-generales/estilos-generales-component') %>
<%- include('../compartido/menu/menu-component') %>





<% const existeUsuario = typeof usuario !== 'undefined' %>

<% let existeNombre = typeof nombre !== 'undefined'%>
<% let existeApellido = typeof apellido !== 'undefined'%>
<% let existeCedula = typeof cedula !== 'undefined'%>

<h1> <%= existeUsuario ? 'Editar' : 'Crear' %> usuario</h1>
<!-- SETEAR EL NOMBRE Y APELLIDO-->
<% if(existeUsuario) {%>
    <% existeNombre = true %>
    <% existeApellido = true%>
    <% existeCedula = true %>

    <% nombre = usuario.nombre%>
    <% apellido = usuario.apellido%>
    <% cedula = usuario.cedula%>

<% }%>

<% if(typeof error != 'undefined'){%>
    <p> MENSAJE: <%= error %></p>
<% }%>

<form action=" <%= existeUsuario ? '/usuario/editarDesdeVista/' + usuario.id : '/usuario/crearDesdeVista'%> " method="POST">

    <label for="nombre">Nombre:</label>
    <input id="nombre" type="text" name="nombre" value="<%= existeNombre ? nombre: '' %>">
    <br>

    <label for="apellido">Apellido:</label>
    <input id="apellido" type="text" name="apellido" value="<%= existeApellido ? apellido: '' %>">
    <br>
    <label for="cedula">Cedula:</label>
    <input id="cedula" type="text"
           <% if(existeUsuario) {%>
                disabled
           <%}%>
           name="cedula" value="<%=existeCedula ? cedula : ''%>">
    <br>
    <button type="submit">SUBMIT</button>
    <button type="reset">RESET</button>
    <button type="button">BUTTON</button>
    <button>adf</button>

</form>


<%- include('../compartido/funcionalidad-general/funcionalidad-general-component') %>